In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("../data/data_stats.csv")
df

,data,model,num_samples,num_sentences,num_words,num_chars,num_tokens
0,xsum,human,226394,4298208,97475080,416556574,105943034
1,writingprompts,human,303140,13802625,196423260,721935184,209317891
2,raid,human,138244,1808791,46559309,215280947,95664352
3,tweets,human,640908,1048720,9299990,34207222,10630839
4,reddit,human,655485,1817602,30287520,117002414,32581910
5,nyt-comments,human,4223213,18713269,342590681,1418281599,367129360
6,blogs,human,576774,8370715,151488264,560257945,165283569
7,nyt-articles,human,15813,21318,397121,1759817,421260
8,essays,human,2638,123010,1883626,6702708,1910971
9,blogs,Llama-3.2-1B-Instruct,384,6856,158149,613036,160203
10,nyt-articles,Llama-3.2-1B-Instruct,384,1906,61726,309187,65327
11,writingprompts,Llama-3.2-1B-Instruct,24,763,13437,51290,13795
12,tweets,Llama-3.2-1B-Instruct,24,49,703,2649,741
13,nyt-comments,Llama-3.2-1B-Instruct,24,95,2487,11874,2542
14,reddit,Llama-3.2-1B-Instruct,24,59,1184,4832,1206
15,xsum,Llama-3.2-1B-Instruct,24,90,2987,14201,3244
16,raid,Llama-3.2-1B-Instruct,24,263,6804,37877,7342
17,essays,Llama-3.2-1B-Instruct,24,583,10589,38519,10352

In [3]:
df[df["model"] == "human"].sum()

data             xsumwritingpromptsraidtweetsredditnyt-comments...
model                humanhumanhumanhumanhumanhumanhumanhumanhuman
num_samples                                                6782609
num_sentences                                             50004258
num_words                                                876404851
num_chars                                               3491984410
num_tokens                                               988883186
dtype: object

In [ ]:
988_883_186 / 1_000_000 * 0.15 * 3/2 * 4.5

1001.244225825